# Preprocesamiento de los datos

In [1]:
from dotenv import load_dotenv
import os

# Cargar automáticamente las variables del archivo .env
load_dotenv()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

DATA_RAW = os.getenv('DATA_RAW')
DATA_PREPROCESSED = os.getenv('DATA_PROCESSED')

In [3]:
df = pd.read_csv(os.path.join('..',DATA_RAW, "dataframe_merged.csv"), sep=";")

In [4]:
df

,Ajuste Fecha,Dia Semana,Sabor 1,Sabor 2,Sabor 3,Sabor 4,Sabor 5,Sabor 6,Sabor 7,Sabor 8,...,humidity,wind_speed,wind_deg,wind_gust,rain_1h,clouds_all,weather_main,weather_description,weather_icon,Total Cantidad Kilos
0,2019-01-08,Sábado,NaN,11.73,6.56,15.13,4.97,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,501.76
1,2019-01-09,Martes,33.57,42.53,33.60,5.05,NaN,NaN,30.75,26.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2287.92
2,2019-01-10,Jueves,11.31,6.11,5.64,5.12,5.08,NaN,6.49,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,417.12
3,2019-01-11,Domingo,13.95,23.86,22.40,15.21,NaN,NaN,10.97,41.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1471.46
4,2019-01-12,Martes,20.64,35.50,37.23,12.02,5.13,30.46,34.81,26.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2037.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2028,2025-08-01,Viernes,26.60,10.97,18.73,NaN,NaN,6.53,14.57,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,964.32
2029,2025-09-01,Sábado,16.21,6.12,25.69,NaN,NaN,12.87,14.57,10.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2123.08
2030,2025-10-01,Domingo,9.75,5.62,25.28,NaN,NaN,19.73,4.85,4.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1857.12
2031,2025-11-01,Lunes,16.37,10.40,32.10,NaN,NaN,24.95,19.37,4.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1744.75
2032,2025-12-01,Martes,40.83,NaN,40.79,NaN,27.00,25.08,4.84,4.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4395.03

In [ ]:
# Convertir la columna 'Ajuste Fecha' a tipo datetime si no lo está
#df['Ajuste Fecha'] = pd.to_datetime(df['Ajuste Fecha'])

# Crear una nueva columna con el nombre del día de la semana
df['Dia Semana'] = df['Ajuste Fecha'].dt.day_name(locale='es_ES')

# Verificar los cambios
df[['Ajuste Fecha', 'Dia Semana']].head()